header {
  padding: 0.7em 0;
  background: #20232b;
  font-size: 24px;
  color: #61dafb;
}

.header--container {
  padding: 0 1em;
}

.header--title {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 400;
}

.header--title + p {
  padding: 1rem 0;
  border-top: 1px solid #61dafb;
  border-bottom: 1px solid #61dafb;
}

.header--link {
  text-decoration: none;
}

.header--link:visited {
  color: #61dafb
}

.header--category {
  display: flex;
  justify-content: space-around;

  margin: 4rem 0 3rem 0;
  padding: 0;
}

.header--category li {
  padding: 0.5rem 1.3rem;
  border: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header--title {
    font-size: 2rem;
  }

  .header--title + p {
    margin: 1.1em 1.6rem 0 1.6rem;
    padding: 1rem;
    font-size: 1.3rem;
  }

  .header--category li {
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
  }
}

