.header--title {
  margin: 1.5rem 0 0 0 ;
  padding: 0 0 1rem 0;
  font-weight: 300;
}

.header--title + p {
  padding: 1rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-weight: 300;
}

.header--link {
  color: #000;
  text-decoration: none;
}

.header--category {
  display: flex;
  justify-content: space-around;

  margin: 4rem 0 3rem 0;
  padding: 0;
}

.header--category li {
  padding: 0.5rem 1.3rem;
  border: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header--title {
    font-size: 2rem;
  }

  .header--title + p {
    margin: 1.1em 1.6rem 0 1.6rem;
    padding: 1rem;
    font-size: 1.3rem;
  }

  .header--category li {
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
  }
}

