html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 300px;
  background: #282c34;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  font-size: 24px;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: lower-roman;
}